{
  "name": "{{PLUGIN_NAME}}",
  "version": "{{PLUGIN_VERSION}}",
  "description": "{{PLUGIN_DESCRIPTION}}",
  "author": {
    "name": "The Fractary",
    "url": "https://github.com/fractary"
  },
  "license": "Apache-2.0",
  "requires": {{REQUIRES}},
  "commands": {{COMMAND_PLACEHOLDERS}},
  "agents": {{AGENT_PLACEHOLDERS}},
  "skills": {{SKILL_PLACEHOLDERS}}
}
